




/terraform/.terraform/
/terraform/dynamic-run-portfolio1-sa-credential.json



*.pdf
*.deb
*.cc
*.swift
*.cmake
*.zip
*.tar.gz
*.hcl
*.tfstate
*.backup
*.tfstate.*
*.tfstate.backup

/flutter_app/android/
build/
/flutter_app/ios/ 
/flutter_app/linux/ 
/flutter_app/macos/ 
/flutter_app/windows/ 
/flutter_app/test/ 



/react_app/node_modules/*